extends ../main-frame

block content
    //-----------------------------------------------
    // Declarations start
    mixin link(href, name)
        .button-wrapper
            a(class!=attributes.class href=href)= name

    mixin ski-event(event)
        - var cat = event.category
        - var id = event._id
        - var title = event.title
        - var urlCat = '/categories/' + category
        - var urlEvent = '/categories/' + category + '/' + id
        - var src = '/res/images/ski-main.jpg'
        .ski-event
            img(src=src, width=30, height=30, alt="extreme-sports-event-main-picture")
            a(href=urlCat)= cat
            a(href=urlEvent)= title

            = '\n'
    //-Declarations end

    //-----------------------------------------------
    //-Page content start
    //p 'logged in user:' + #{user}
    //= '\n'

    .ski-banner.banner-extra-styles
        img.left(src='/res/images/' + category + '-main.jpg', width=300 alt='extreme-sports' + category)
        span Hey man, do a can-can category fahren?!

    +link('/categories/add-event/' + category, 'Add ' + category + ' event')(class="btn btn-default text-right" role="button")

    each event in events
        +ski-event(event)

