extends ../main-frame

block content

    //-----------------------------------------------
    // Declarations start
    mixin link(href, name)
        .button-wrapper
            a(class!=attributes.class href=href)= name

    //----------------------------------------------
    //-Page content start
    .ski-banner.banner-extra-styles
        img.left(src='/res/images/' + category + '-main.jpg', width=300 alt='extreme-sports' + category)
        span Hey man, do a can-can category fahren?!

    +link('/events/add-event/' + category, 'Add ' + category + ' event')(class="btn btn-default text-right" role="button")

    each event in events
        //p #{event}
        .ski-event
            img(src=event.pictures[0].src, width=40, height=30, alt="extreme-sports-event-main-picture")
            a(href='/categories/' + event.category)= event.category
            a(href='/profile/' + event.author.username)= event.author.username
            a(href='/categories/' + event.category + '/' + event._id)= event.title

